{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.api_configuration.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui icon warning message sylius-flash-message">
        <i class="close icon"></i>
        <i class="warning icon"></i>
        <div class="content">
            <div class="header">
                Deprecated configuration
            </div>
            <p>This section has been deprecated and will be removed in the next major release. See <a href="https://github.com/synolia/SyliusAkeneoPlugin/blob/master/UPGRADE.md" target="_blank">Upgrade documentation</a>.</p>
        </div>
    </div>

    {{ headers.default(
        'sylius.ui.admin.akeneo.api_configuration.title'|trans,
        'cogs',
        'sylius.ui.admin.akeneo.api_configuration.subtitle'|trans
    ) }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            {label: 'sylius.ui.admin.akeneo.api_configuration.title'|trans}
        ]) %}
        {{ parent() }}
    {% endblock %}
    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        <div class="ui segment">
            {{ form_row(form.baseUrl) }}
            <div class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.api_configuration.user_help'|trans }}</div>
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.apiClientId) }}
            {{ form_row(form.apiClientSecret) }}
            {{ form_row(form.testCredentials) }}
        </div>
        <div class="ui segment">
            <div class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.api_configuration.pagination'|trans }}</div>
            {{ form_row(form.paginationSize) }}
            {{ form_row(form.edition) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/synoliasyliusakeneoplugin/js/tooltip.js') }}"></script>
{% endblock %}
