{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.api_configuration.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default(
        'sylius.ui.admin.akeneo.api_configuration.title'|trans,
        'cogs',
        'sylius.ui.admin.akeneo.api_configuration.subtitle'|trans
    ) }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            { label: 'sylius.ui.admin.akeneo.api_configuration.title'|trans }
        ]) %}
        {{ parent() }}
    {% endblock %}
    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        <div class="ui segment">
            {{ form_row(form.baseUrl) }}
            <div class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.api_configuration.user_help'|trans }}</div>
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.apiClientId) }}
            {{ form_row(form.apiClientSecret) }}
            {{ form_row(form.testCredentials) }}
        </div>
        <div class="ui segment">
            <div class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.api_configuration.pagination'|trans }}</div>
            {{ form_row(form.paginationSize) }}
            <div class="ui toggle checkbox">
                {{ form_widget(form.isEnterprise) }}
                {{ form_label(form.isEnterprise) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/synoliasyliusakeneoplugin/js/tooltip.js') }}"></script>
{% endblock %}
