{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.api_configuration.attributes_configuration'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default('sylius.ui.admin.akeneo.api_configuration.attributes_configuration'|trans, 'cogs') }}
    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <div class="ui segment">
            {{ form_row(form.settings) }}
        </div>
        <div id="attributeTypeMappings" class="ui segment">
            {{ form_row(form.attributeType) }}
        </div>
        <div id="attributeAkeneoSyliusMappings" class="ui segment">
            {{ form_row(form.attributeAkeneoSylius) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
