{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.api_configuration.attributes_configuration'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default('sylius.ui.admin.akeneo.api_configuration.attributes_configuration'|trans, 'cogs') }}
    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <div class="ui segment">
            {{ form_row(form.settings) }}
        </div>
        <div id="attributeTypeMappings" class="ui segment">
            {{ form_row(form.attributeTypeMappings) }}
        </div>
        <div id="attributeAkeneoSyliusMappings" class="ui segment">
            {{ form_row(form.attributeAkeneoSyliusMappings) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script
         src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous"></script>
 <script>
     function addTagForm($collectionHolder, $newLinkLi) {
         // Get the data-prototype explained earlier
         var prototype = $collectionHolder.data('prototype');

         // get the new index
         var index = $collectionHolder.data('index');

         var newForm = prototype;
         newForm = newForm.replace(/__name__/g, index);

         // increase the index with one for the next item
         $collectionHolder.data('index', index + 1);

         // Display the form in the page in an li, before the "Add" link li
         var $newFormLi = $('<div></div>').append(newForm);
         $newLinkLi.before($newFormLi);
     }

     var attributeTypeMappingCollectionHolder;
     var addButtonAttributeTypeMapping = jQuery('<button type="button" class="ui button">Add</button>');
     var newLinkLiAttributeTypeMapping = jQuery('<div></div>').append(addButtonAttributeTypeMapping);

     var attributeAkeneoSyliusMappingCollectionHolder;
     var addButtonAttributeAkeneoSyliusMapping = jQuery('<button type="button" class="ui button">Add</button>');
     var newLinkLiAttributeAkeneoSyliusMapping = jQuery('<div></div>').append(addButtonAttributeAkeneoSyliusMapping);

     jQuery(document).ready(function() {
         attributeTypeMappingCollectionHolder = jQuery('#attributes_type_mapping_attributeTypeMappings');
         attributeTypeMappingCollectionHolder.append(newLinkLiAttributeTypeMapping);
         attributeTypeMappingCollectionHolder.data('index', attributeTypeMappingCollectionHolder.find(':input').length);
         addButtonAttributeTypeMapping.on('click', function(e) {
             addTagForm(attributeTypeMappingCollectionHolder, newLinkLiAttributeTypeMapping);
         });

         attributeAkeneoSyliusMappingCollectionHolder = jQuery('#attributes_type_mapping_attributeAkeneoSyliusMappings');
         attributeAkeneoSyliusMappingCollectionHolder.append(newLinkLiAttributeAkeneoSyliusMapping);
         attributeAkeneoSyliusMappingCollectionHolder.data('index', attributeAkeneoSyliusMappingCollectionHolder.find(':input').length);
         addButtonAttributeAkeneoSyliusMapping.on('click', function(e) {
             addTagForm(attributeAkeneoSyliusMappingCollectionHolder, newLinkLiAttributeAkeneoSyliusMapping);
         });

         jQuery('.delete').on('click', function(e) {
             jQuery(this).parent().parent().remove();
         });
     });
</script>
{% endblock %}
