{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% form_theme advanced_form '@SyliusUi/Form/theme.html.twig' %}
{% form_theme simple_form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.product_filter_rules.product_filter_rules'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default('sylius.ui.admin.akeneo.product_filter_rules.product_filter_rules'|trans, 'cogs') }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            { label: 'sylius.ui.admin.akeneo.product_filter_rules.title'|trans }
        ]) %}
        {{ parent() }}
    {% endblock %}
    <div class="ui segment">
        <div class="ui toggle checkbox switch">
            <span>Standard mode</span>
            <input id="switchForm" name="switchForm" type="checkbox">
            <label for="switchForm" class="muted">Advanced mode</label>
        </div>
        <div class="ui segment togglable">
            {{ form_start(simple_form, {'attr': {'class': 'ui form'}}) }}
            {{ form_row(simple_form) }}
            {{ form_end(simple_form) }}
        </div>
        <div class="ui segment togglable" style="display: none;">
            {{ form_start(advanced_form, {'attr': {'class': 'ui form'}}) }}
            {{ form_row(advanced_form) }}
            {{ form_end(advanced_form) }}
        </div>
    </div>
{% endblock %}
