{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% form_theme advanced_form '@SyliusUi/Form/theme.html.twig' %}
{% form_theme simple_form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.product_filter_rules.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default(
        'sylius.ui.admin.akeneo.product_filter_rules.title'|trans,
        'cogs',
        'sylius.ui.admin.akeneo.product_filter_rules.subtitle'|trans
    ) }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            { label: 'sylius.ui.admin.akeneo.product_filter_rules.title'|trans }
        ]) %}
        {{ parent() }}
    {% endblock %}
    <div class="ui segment">
        <div class="ui toggle checkbox switch">
            <span>Standard mode</span>
            <input id="switchForm" name="switchForm" type="checkbox">
            <label for="switchForm" class="muted">Advanced mode</label>
        </div>
        <div class="ui segment togglable">
            {{ form_start(simple_form, {'attr': {'class': 'ui form'}}) }}
            {{ form_row(simple_form.mode) }}
            {{ form_row(simple_form.channel) }}
            <div class="field">
                <span class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.product_filter_rules.completeness_type_help'|trans }}</span>
                {{ form_row(simple_form.completeness_type) }}
            </div>
            {{ form_row(simple_form.locales) }}
            <div class="field">
                <span class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.product_filter_rules.completeness_value_help'|trans }}</span>
                {{ form_row(simple_form.completeness_value) }}
            </div>
            <div class="field">
                <span class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.product_filter_rules.status_help'|trans }}</span>
                {{ form_row(simple_form.status) }}
            </div>
            {{ form_row(simple_form.updated_mode) }}
            {{ form_row(simple_form.updated_before) }}
            {{ form_row(simple_form.updated_after) }}
            {{ form_row(simple_form.updated) }}
            <div class="field">
                <span class="ui pointing below label" style="display: none;">{{ 'sylius.ui.admin.akeneo.product_filter_rules.families_help'|trans }}</span>
                {{ form_row(simple_form.families) }}
            </div>
            {{ form_end(simple_form) }}
        </div>
        <div class="ui segment togglable" style="display: none;">
            {{ form_start(advanced_form, {'attr': {'class': 'ui form'}}) }}
            {{ form_row(advanced_form.mode) }}
            {{ form_row(advanced_form.advanced_filter) }}
            {{ form_end(advanced_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/synoliasyliusakeneoplugin/js/form.js') }}"></script>
    <script src="{{ asset('bundles/synoliasyliusakeneoplugin/js/tooltip.js') }}"></script>
{% endblock %}
