{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.products.products'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default('sylius.ui.admin.akeneo.products.products'|trans, 'cogs') }}

    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_row(form.websiteAttribute) }}
        {{ form_row(form.akeneoPriceAttribute) }}
        {{ form_row(form.akeneoEnabledChannelsAttribute) }}
        <div id="defaultTaxMappings" class="ui segment">
            {{ form_row(form.defaultTax) }}
        </div>
        <div id="configurableMappings" class="ui segment">
            {{ form_row(form.configurable) }}
        </div>
        <div class="ui field">
            {{ form_row(form.importMediaFiles) }}
        </div>
        <div id="akeneoImageAttributesMappings" class="ui segment">
            {{ form_row(form.akeneoImageAttributes) }}
        </div>
        <div id="productImagesMappings" class="ui segment">
            {{ form_row(form.productImagesMapping) }}
        </div>
        <div class="ui field">
            {{ form_row(form.regenerateUrlRewrites) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
