{% extends '@SynoliaSyliusAkeneoPlugin/Admin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'sylius.ui.admin.akeneo.products.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ headers.default(
        'sylius.ui.admin.akeneo.products.title'|trans,
        'cogs',
        'sylius.ui.admin.akeneo.products.subtitle'|trans
    ) }}
    {% block breadcrumb %}
        {% set breadcrumbs = breadcrumbs|merge([
            {label: 'sylius.ui.admin.akeneo.products.title'|trans}
        ]) %}
        {{ parent() }}
    {% endblock %}
    <div class="ui segment">
        {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <div class="ui one column stackable grid segment">
            <div class="column">
                <span class="ui pointing below label">{{ 'sylius.ui.admin.akeneo.products.enabled_at_import_help'|trans }}</span>
                {{ form_row(form.enableImportedProducts) }}
                <span class="ui pointing below label">{{ 'sylius.ui.admin.akeneo.products.channels_checkboxes_priority'|trans }}</span>
                {{ form_row(form.channelsToEnable) }}
                <hr />
                <span class="ui pointing below label">{{ 'sylius.ui.admin.akeneo.products.akeneo_enabled_channels_attribute_priority'|trans }}</span>
                {{ form_row(form.akeneoEnabledChannelsAttribute) }}
            </div>
        </div>
        {{ form_row(form.akeneoPriceAttribute) }}
        <div class="ui field">
            {{ form_row(form.importMediaFiles) }}
        </div>
        <div id="akeneoImageAttributesMappings" class="ui segment togglable" style="display: {{ form.importMediaFiles.vars.data is same as(true) ? 'block' : 'none' }};">
            {{ form_row(form.akeneoImageAttributes) }}
        </div>
        <div id="productImagesMappings" class="ui segment togglable" style="display: {{ form.importMediaFiles.vars.data is same as(true) ? 'block' : 'none' }};">
            {{ form_row(form.productImagesMapping) }}
        </div>
        <div class="ui field">
            {{ form_row(form.regenerateUrlRewrites) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/synoliasyliusakeneoplugin/js/form.js') }}"></script>
{% endblock %}
